class SomeComponent extends React.Component {
  constructor(props) {
    super(props); // this is required
    this.state = {
      isEven: props.value % 2 === 0,
      hidden: false
    };

    this.handleClick = this.handleClick.bind(this);
  }

  handleClick() {
    // code ...
  }

  render() {
    // code ...
  }
}
